Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text
*.[Rr]md   linguist-detectable
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
# https://github.com/alexkaratarakis/gitattributes/blob/master/R.gitattributes
