.gitattributes  export-ignore
.gitignore      export-ignore
*.gitattributes linguist-language=gitattributes
*.html linguist-detectable=false

# https://github.com/alexkaratarakis/gitattributes/blob/master/R.gitattributes
# Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text
*.[Rr]md   linguist-detectable
